services:
  web:
    build:
      context: "."
      dockerfile: ${DOCKERFILE_PATH:-"./Dockerfile"}
    ports:
      - "80:8080"
    restart: always
    logging:
      driver: ${LOGGING_DRIVER:-json-file}
